<ng-include src="'/uiview/plugin_form.html'"></ng-include>	
<div class="container">
	<div class = "row">
		<div class="bs-callout bs-callout-warning highlight"> 

			  <table class="table">
				<thead>
				  <tr>
					<th></th>
					<th>Name</th>
					<th>Domain</th>
					<th>GIT</th>
					<th></th>
					<th></th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="(key, value) in microservice_list">
					<td><a href="JavaScript:void(0)" ng-click="removeVhost(value)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
					<td>{{value.name}} <a href="JavaScript:void(0)" ng-click="editVhost(value)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
					<td>{{value.domain}}</td>
					<td>{{value.repository}}</td>
					<td>{{value.status}}</td>
					<td>{{(value.is_demo)?'Demo'}}</td>
					<th><a href="JavaScript:void(0)" ng-click="updateGit(value.name)"><i class="fa fa-refresh" aria-hidden="true"></i></a></th>
				  </tr>
				</tbody>
			  </table>	

		</div>
	</div>	
</div>	


