<div class="container">
	<div class = "row">
		<div class="bs-callout bs-callout-warning highlight" id="callout-overview-dependencies"> 
					
			<form method="post" class="row">
				<div class="col-lg-2">
					<div class="form-group ">
						<label class="control-label " for="name">Name</label>
						<input class="form-control" name="name" type="text" ng-model="form.name" />
					</div>				
				</div>
				<div class="col-lg-2">
				
					<div class="form-group">
						<label class="control-label " for="text">Domain</label>
						<input class="form-control"  name="text" type="text"  ng-model="form.domain" />
					</div>				
				</div>							
				<div class="col-lg-7">
					<div class="form-group">
						<label class="control-label " for="text">Git</label>
						<input class="form-control" name="text" type="text"  ng-model="form.git" />
					</div>				
				</div>				
				<div class="col-lg-1">
					<div class="form-group">
						<label class="control-label " for="text"></label>
						<input class="form-control btn btn-primary " name="button" type="button" value="Save" ng-Click="postVhost()"  />
					</div>				
				</div>	
			</form>

		</div>
	</div>	
</div>	


<div class="container">
	<div class = "row">
		<div class="bs-callout bs-callout-warning highlight"> 

			  <table class="table">
				<thead>
				  <tr>
					<th>Name</th>
					<th>Domain</th>
					<th>GIT url</th>
					<th>Status</th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="(key, value) in microservice_list">
					<td>{{value.name}}</td>
					<td>{{value.domain}}</td>
					<td>{{value.repository}}</td>
					<td>{{value.status}}</td>
					<td><a href="JavaScript:void(0)" ng-click="removeVhost(value)">Delete</td>
				  </tr>
				</tbody>
			  </table>	

		</div>
	</div>	
</div>	


