<ng-include src="'/uiview/plugin_form.html'"></ng-include>	
<div class="container">
	<div class = "row">
		<div class="bs-callout bs-callout-warning highlight"> 

			  <table class="table">
				<thead>
				  <tr>
					<th></th>
					<th>Name</th>
					<th>Demo</th>
					<th>Domain</th>
					
					<th>GIT</th>
					<th>Refresh</th>
					<th>Status</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="(key, value) in microservice_list">
					<td><a href="JavaScript:void(0)" ng-click="removeVhost(value)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
					<td>{{value.name}} <a href="JavaScript:void(0)" ng-click="editVhost(value)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
					<td align="center">{{(value.is_demo)?'Y':''}}</td>
					<td>{{value.domain}}</td>
					<td>{{value.repository}}</td>
					<td align="center">
						<a href="JavaScript:void(0)" ng-click="updateGit(value.name)">
							<i class="fa fa-refresh" aria-hidden="true"></i><i class="fa fa-git" aria-hidden="true"></i>
						</a>
					</td>
					<td align="center">
						<i class="fa fa-check text-success fa-2x" aria-hidden="true" ng-if="value.ready"></i>
						<i class="fa fa-exclamation-circle text-danger fa-2x" aria-hidden="true" ng-if="!value.ready"></i>
					</td>
				  </tr>
				</tbody>
			  </table>	

		</div>
	</div>	
</div>	


