<div class="container" ng-if="(form)">
	<div class = "row">
		<div class="alert alert-warning highlight" id="callout-overview-dependencies" style="border:1px solid #00B8F0"> 
					
			<form class="row">
				<div class="col-lg-2 col-md-2">
					<div class="form-group ">
						<label class="control-label " for="name">Name</label>
						<input class="form-control" name="name" type="text" ng-model="form.name" />
					</div>				
				</div>
				<div class="col-lg-2 col-md-2">
				
					<div class="form-group">
						<label class="control-label " for="text">Domain</label>
						<input class="form-control"  name="text" type="text"  ng-model="form.domain" />
					</div>				
				</div>							
				<div class="col-lg-6 col-md-6">
					<div class="form-group">
						<label class="control-label " for="repository">Git</label>
						<input class="form-control" name="repository" type="text"  ng-model="form.repository" />
					</div>				
				</div>	
				<div class="col-lg-1 col-md-1">
					<div class="form-group">
						<label class="control-label " for="text"></label>
						<input class="form-control btn btn-default " name="button" type="button" value="Cancel" ng-Click="editVhost(false)"  />
					</div>				
				</div>				
				<div class="col-lg-1 col-md-1">
					<div class="form-group">
						<label class="control-label " for="text"></label>
						<input class="form-control btn btn-primary " name="button" type="button" value="Save" ng-Click="postVhost()"  />
					</div>				
				</div>	
			</form>

		</div>
	</div>	
</div>	
<div class="container" ng-if="(!form)">
	<div class = "row">
				
		<div class="alert alert-warning highlight" id="callout-overview-dependencies" style="border:1px solid #00B8F0; padding-top:32px;"> 
			<form class="row">

				<!--div class="col-lg-2 col-md-2">
					<div class="form-group">
						<button type="button" class="btn btn-warning" ng-Click="rebootServer()">
							&nbsp;<i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;							
						</button>
						<button type="button" class="btn btn-success" ng-Click="updateGit()">
							<i class="fa fa-download" aria-hidden="true"></i><i class="fa fa-git" aria-hidden="true"></i>
						</button>							
					</div>			
				</div-->
				<div class="col-lg-2 col-md-2">
					<div class="form-group">
						<button type="button" class="btn btn-warning qalet_button" ng-Click="rebootServer()">
							<i class="fa fa-power-off" aria-hidden="true"></i> Reboot Server							
						</button>							
					</div>			
				</div>	
				<div class="col-lg-2 col-md-2">
					<div class="form-group">
						<button type="button" class="btn btn-success qalet_button" ng-Click="updateGit()">
							<i class="fa fa-refresh" aria-hidden="true"></i><i class="fa fa-git" aria-hidden="true"></i> Refresh All
						</button>							
					</div>			
				</div>					
				<div class="col-lg-4 col-md-4">
				</div>								
				<div class="col-lg-2 col-md-2">
					<div class="form-group">
						<button type="button" class="btn btn-primary qalet_button" ng-Click="loadDemo()">
							<i class="fa fa-cloud-download" aria-hidden="true"></i> Load Demo								
						</button>						
					</div>				
				</div>				
				<div class="col-lg-2 col-md-2">
					<div class="form-group">
						<button type="button" class="btn btn-primary qalet_button" ng-Click="editVhost({})">
							<i class="fa fa-plus-square" aria-hidden="true"></i> Add a New Service								
						</button>						
					</div>								
				</div>
			</form>	
		</div>
			
	</div>	
</div>	

